html * {
	font-family: 'Fira Sans', sans-serif !important;
}

#root:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.letusan {
	float: left;
	margin: 0 50px 50px 0;
}

.letusan .label {
	text-align: center;
}

.letusan .vei {
	margin: 0 auto;
}
.letusan .vei img {
	max-width: 100%;
	max-height: 100%;
}

.letusan .ele {
	margin: 0 auto;
}
.letusan .ele img {
	max-width: 100%;
	max-height: 100%;
}

.letusan .pop {
	text-align: center;
	margin-top: 8px;
}
.letusan .pop .house {
	display: inline-block;
	width: 32px;
	height: 20px;
	margin: 2px;
}
.letusan .pop .house img {
	max-width: 100%;
	max-height: 100%;
}
